.container {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.links {
  display: flex;
  flex-direction: column;
}

.link {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
}

.form {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button {
  padding: 0.3rem 0.4rem;
}

.icon {
  width: 1.6rem;
  height: 1.6rem;
}
